<!-- Imports -->
@using AP.CoreBusiness
@using AP.UseCases.Reports.Interfaces
@using AP.WebApp.Sections.Layouts.AdminPanelLayouts

<!-- Page Definitions -->
@page "/admin/generate-product-reports"
@layout AdminLayout
@rendermode InteractiveServer
@inject ISearchProductTransactionsUseCase SearchProductTransactionsUseCase
@inject IJSRuntime JSRuntime

<!-- HTML -->
<div id="printarea" class="inner-container">
    <div class="title-container">
        <h1>Product Reporting</h1>
    </div>
    <div class="content-container">
        <div class='form-container'>
            <div class='form-group'>
                <label for="">Product</label>
                <input type="text" id="inv" @bind-value="prodName"/>
            </div>

            <div class='form-group'>
                <label for="">Date From</label>
                <input type="date" id="dateFrom" @bind-value="dateFrom"/>
            </div>

            <div class='form-group'>
                <label for="">Date To</label>
                <input type="date" id="dateTo" @bind-value="dateTo" />
            </div>

            <div class='form-group'>
                <label for="">Transaction Type</label>
                <select id="transactionType" @bind="transactionTypeId">
                     <option value="0"></option>
                     <option value="1">Product Product</option>
                     <option value="2">Sell Product</option>
                </select>
            </div>
        
            <div id="do-not-print" class='form-group'>
                <button type="button" @onclick="SearchProducts">Search</button>
            </div>

            <div id="do-not-print" class='form-group'>
                <button type="button" @onclick="PrintReport">Print</button>
            </div>

        </div>
        <div class="inventory-transactions-table">
            <div class="table-header">
                <div class="table-row">
                    <div class="table-cell">Date</div>
                    <div class="table-cell">Inventory</div>
                    <div class="table-cell">Type</div>
                    <div class="table-cell">Quantity Before</div>
                    <div class="table-cell">Quantity After</div>
                    <div class="table-cell">Unit Price</div>
                    <div class="table-cell">SO#</div>
                    <div class="table-cell">Production #</div>
                </div>
            </div>
            @if (productTransactions is not null && productTransactions.Count() > 0) {
                <div class="table-body">
                    @foreach (var pt in productTransactions) {
                        <div class="table-row">
                            <div class="table-cell">@pt.TransactionDate.ToString("MM/dd/yyyy")</div>
                            <div class="table-cell">@pt.Product.ProductName</div>
                            <div class="table-cell">
                                @if (pt.ActivityType == ProductTransactionType.ProduceProduct) {
                                    <text>Produce</text>
                                }
                                else if (pt.ActivityType == ProductTransactionType.SellProduct) {
                                    <text>Sale</text>
                                }
                            </div>
                            <div class="table-cell">@pt.QuantityBefore</div>
                            <div class="table-cell">@pt.QuantityAfter</div>
                            <div class="table-cell">@pt.UnitPrice.ToString("c")</div>
                            <div class="table-cell">@pt.SONumber</div>
                            <div class="table-cell">@pt.ProductionNumber</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>



<!-- C# -->
@code {
    // State variables
    private string? prodName;
    private DateTime? dateFrom;
    private DateTime? dateTo;
    private int transactionTypeId;

    private IEnumerable<ProductTransaction>? productTransactions;

    public async Task SearchProducts() {

        ProductTransactionType? prodType = null;
        if (transactionTypeId != 0) {
            prodType = (ProductTransactionType)transactionTypeId;
        }

        Console.WriteLine("Searching");
        productTransactions =  await SearchProductTransactionsUseCase.ExecuteAsync(prodName, dateFrom, dateTo, prodType);    
    }

    public async Task PrintReport() {
        await JSRuntime.InvokeVoidAsync("print");
    }
}
